/* Channel Close Buttons */
li.channel .button, li.pm .button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(calc(100% - 1rem) + 1px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255, 0);
}

li.channel .button:hover, li.pm .button:hover {
  border-left: 0;
  color: rgb(255, 255, 255);
  background-color: #e74c3c;
  cursor: pointer;
}

li.special .button {
  display: none;
}

li.selected {
  background: rgba(33, 133, 208, 0.7);
}

li.channel.selected a, li.pm.selected a {
  color: #fff;
}

li.channel, li.special, li.pm {
  font-size: 0.875em;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

ul li a.channel_name {
  padding-left: 2.5em;
}

li.channel a, li.special a, li.pm a {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  height: calc(100% - 1.2rem);
}

li a.channel_name {
  width: 8rem;
  word-wrap: break-word;
}

li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.icon::after {
  content: " ";
  font-weight: 900;
}

.counter::before {
  content: "[";
}

.counter::after {
  content: "]";
}

.counter {
  font-weight: bold;
}
