.panel_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.chat {
  display: block;
  padding: 1em;
  width: auto;
  height: calc(100vh - 7.9rem);
  overflow: auto;
}

.chat.hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(0.25rem);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,0.2);
}


.chat a {
  word-break: break-all;
}
