.panel_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.chat {
  display: block;
  padding: 1em;
  width: auto;
  height: calc(100vh - 7.9rem);
  overflow: auto;
}

.chat.hover {
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  -webkit-filter: blur(0.2rem);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,0.2);
}


.chat a {
  word-break: break-all;
}

.drop_icon {
  display: none;
}

.drop_icon.hover {
  display: block;
  position: absolute;
  top: 45vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.drop_icon i {
  font-size: 5rem;
}
