header {
  background: #111;
  padding-top: 10px;
  padding-bottom: 10px;
}

header a, header .brand {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .brand {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  font-size: 18px;
}

header a:hover {
  background: #444;
}

footer {
  margin-top: 50px;
  background: #222;
  color: #999;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: 500;
  text-align: center;
}
