
ul li {
  font-size: 0.8em;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
}

ul li a {
  display: block;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
}

span.role {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.8rem 0;
  width: 0.4rem;
  color: rgba(255, 255, 255, 1);
  transition: all 0.1s ease-in-out;
  background: #333;
}

a:hover span.role {
   width: auto;
   padding: 0.8rem 1rem;
 }

a:hover span.role:after {
  content: "User";
}

ul li.user a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

span.role.owner {
  background-color: #e74c3c;
}

a:hover span.role.owner:after {
  content: "Owner";
}

span.role.admin {
  background-color: #ff5f00;
}
a:hover span.role.admin:after {
  content: "Administrator";
}

span.role.op {
  background-color: #e67e22;
}
a:hover span.role.op:after {
  content: "Op";
}

span.role.halfop {
  background-color: #3498db;
}
a:hover span.role.halfop:after {
  content: "Half-Op";
}

span.role.voice {
  background-color: #27ae60;
}
a:hover span.role.voice:after {
  content: "Voice";
}
