span.user_opts a {
  flex: 1 1 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  text-align: center;
  font-size: 0.8rem;
  height: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.user_opts a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

span.user_opts {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
}

span.hidden {
  display: none;
}

ul li.user {
  font-size: 0.8em;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
}

ul li.user a {
  display: block;
  padding: 0.6rem 1rem;
  height: 0.75rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
}

span.role {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0.6rem 0;
  width: 0.4rem;
  color: rgba(255, 255, 255, 1);
  transition: all 0.1s ease-in-out;
  background: #333;
}

a:hover span.role {
   width: auto;
   padding: 0.6rem 1rem;
 }

a:hover span.role:after {
  content: "User";
}

ul li.user a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

span.role.owner {
  background-color: #e74c3c;
}

a:hover span.role.owner:after {
  content: "Owner";
}

span.role.admin {
  background-color: #ff5f00;
}
a:hover span.role.admin:after {
  content: "Administrator";
}

span.role.op {
  background-color: #e67e22;
}
a:hover span.role.op:after {
  content: "Op";
}

span.role.halfop {
  background-color: #3498db;
}
a:hover span.role.halfop:after {
  content: "Half-Op";
}

span.role.voice {
  background-color: #27ae60;
}
a:hover span.role.voice:after {
  content: "Voice";
}
